html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("images/background.jpg");
	background-color: skyblue;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 75px auto 25px;
	row-gap: 2vh;
	grid-template-areas:
		"header"
		"cats"
		"footer";
}

header{
	background-color: skyblue;
	margin: 0;
	grid-area: header;
}

footer{
	grid-area: footer;
}

h1{
	font-family: 'Lobster', cursive;
	color: #e22f8f;
	margin: 0;
	text-align: center;
	font-size: 2.6rem;
	background-color: white;
	
}

.cat-section{
	grid-area: cats;
	align-self: stretch;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 50px;
	grid-template-areas:
		"cards"
		"button";
}

.cat-card-wrapper{
	grid-area: cards;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cat-card{
	width: 80vw;
	margin: 0;
}

.cat-photo{
	width: 100%;
	background-color: white;
	border-radius: 17px;
	border: 4px white solid;
}

.show-me{
	grid-area: button;
	justify-self: center;
	width: 300px;
	font-size: 2rem;
	border-radius: 2px;
	background-color: skyblue;
	color: white;
	border: white 2px solid;
	font-family: 'Lobster', cursive;
	
}
